<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.acyou.leo.tool.mapper.AreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.acyou.leo.tool.entity.Area">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="merger_name" property="mergerName"/>
        <result column="short_name" property="shortName"/>
        <result column="merger_short_name" property="mergerShortName"/>
        <result column="level_type" property="levelType"/>
        <result column="city_code" property="cityCode"/>
        <result column="zip_code" property="zipCode"/>
        <result column="pinyin" property="pinyin"/>
        <result column="jianpin" property="jianpin"/>
        <result column="first_char" property="firstChar"/>
        <result column="lng" property="lng"/>
        <result column="lat" property="lat"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , parent_id, name, merger_name, short_name, merger_short_name, level_type, city_code, zip_code, pinyin, jianpin, first_char, lng, lat, remark
    </sql>

    <select id="selectIncludeParent" resultType="cn.acyou.leo.tool.entity.Area">
        SELECT T2.*
        FROM (
                 SELECT @r AS _id,
                     (SELECT @r := parent_id FROM t_area WHERE id = _id) AS parent_id,
                     @l := @l + 1 AS lvl
                 FROM
                     (SELECT @r := #{id}, @l := 0) vars,
                     t_area h
             ) T1
                 JOIN t_area T2
                      ON T1._id = T2.id and T1._id != 0
        ORDER BY T1.lvl DESC
    </select>

    <select id="selectIncludeChild" resultType="cn.acyou.leo.tool.entity.Area">
        SELECT finishtable.*
        FROM (
                 SELECT t3.*
                 FROM (
                          SELECT t1.id,
                                 IF
                                     (find_in_set(t1.parent_id, @pids) > 0, @pids := concat(@pids, ',', t1.id),
                                      0) AS ischild
                          FROM (SELECT id, parent_id FROM t_area t ORDER BY parent_id, id) t1,
                               (SELECT @pids := #{id} id) t2
                      ) t3
                 WHERE t3.ischild != 0
                    or t3.id = #{id}
             ) tempout
                 JOIN t_area finishtable ON tempout.id = finishtable.id
    </select>


</mapper>
