<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.acyou.leo.tool.mapper.DictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.acyou.leo.tool.entity.Dict">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="parent_id" property="parentId"/>
        <result column="sort" property="sort"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , name, code, parent_id, sort, remark, status, create_time, update_time
    </sql>

    <sql id="Alisa_Column_List">
        t
        .
        id
        , t.name, t.code, t.parent_id, t.sort, t.remark, t.status, t.create_time, t.update_time
    </sql>


    <insert id="insertListNotExists">
        <foreach collection="list" item="item">
            INSERT INTO `t_dict` (`name`, `code`, `parent_id`) select  #{item.name}, #{item.code}, #{item.parentId} FROM DUAL
            where not exists (select 1 from t_dict where parent_id = #{item.parentId} and code = #{item.code});
        </foreach>
    </insert>


    <select id="listDictByCode" resultType="cn.acyou.leo.tool.dto.dict.DictVo">
        select
        <include refid="Alisa_Column_List"/>
        from sys_dict t left join sys_dict ptd on t.parent_id = ptd.id
        where ptd.code = #{code} order by t.sort desc
    </select>

    <select id="selectDicts" resultType="cn.acyou.leo.tool.dto.dict.DictVo">
        select
        <include refid="Base_Column_List"/>
        from sys_dict
        <where>
            <if test="name!=null and name!=''">and name like CONCAT('%',#{name},'%')</if>
            <if test="code!=null and code!=''">and code like CONCAT('%',#{code},'%')</if>
            <if test="parentId!=null">and parent_id = #{parentId}</if>
            <if test="status!=null">and status = #{status}</if>
        </where>
        order by create_time desc
    </select>
    <select id="selectDict" resultType="cn.acyou.leo.tool.entity.Dict">
        SELECT
        <include refid="Alisa_Column_List"/>
        FROM sys_dict t
        LEFT JOIN sys_dict tp on t.parent_id = tp.id
        WHERE t.code = #{value} and tp.code = #{dictCode}
    </select>


</mapper>
